.hidden {
    display: none !important;
}

div {
    /* border: 1px solid black; */
}

header h1 {
    display: inline-block;
}

input {
    margin: 2px;
    border-radius: 4px;
}

#main-panel {
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding-bottom: 100px;
}

#topbar {
    background-color: #DCDCDC;
}

#logo {
    display: inline-block;
    padding: 10px;
    background-color: #DCDCDC;

    /* color: grey; */
}
.score input, .out-of input {
    width: 70px;
}
#course-menu-bar {
    background-color: white;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
.category-section {
    margin: 50px 0;
    padding-bottom: 40px;
    border-bottom: 1px solid grey;
}

.category-name.header {
    color: #A52A2A;
}
#course-menu-bar {
    margin: 50px 0;
}

#grade-percentage {
    margin-top: 20px;
    margin-bottom: 20px;
}

#courses-panel {
    text-align: center;
    margin-top: 20px;
}

#courses-panel a {
    margin-right: 20px;
    margin-bottom: 15px;
}

#course-menu-bar {
    
    padding: 35px 25px;
    background-color: #cce2ff;
    border-radius: 10px;
    border: 1px solid #276f86;
    color: #276f86;
}

.new-assignments-section button.ui.primary.button,
.new-assignments-section button.ui.button  {
    margin: 10px 0;

}

#topbar-buttons-section{
    float: right;
    margin: 10px;
}
#create-new-course {
    
}

#create-new-course-form {
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding-bottom: 100px;
}

.new-category-row {
    margin: 20px 0;
}
.new-category-row p {
    margin: 0px auto;
}

#create-new-course-form label {
    display: inline-block;
    width: 200px;
}

#create-new-course-form input {
    width: 50%;
}

#submit-new-course {
    margin: 30px;
}